@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #006400;
}
.carta {
  width: 250px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.icon-right{
  font-size: 50px;
  margin-right: auto;
}

.num {
  font-size: 90px;
  text-align: center;
}

.icon-left{
  font-size: 50px;
  margin-left: auto;
  transform: rotate(180deg);
}